<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="Login_frm text-center">
          
          <h3>Add new article</h3>
          <div class="log_field">
            <form class="container" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="form-group col-sm-12">
                  
                  <input type="text" formControlName="title" id="title" class="form-control" placeholder="title" required>
                  <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
                    <div *ngIf="title.errors">
                      title is required.
                    </div>
                  </div>
                </div>
                <div class="form-group col-sm-12">
                  <input id="image" type="file" />
                  
                </div>
                <div class="form-group col-sm-12">
                  <textarea class="form-control" type="text" id="description" name="description" placeholder="description" rows="7" formControlname="description"></textarea>
                  <small [hidden]="articleForm.controls['description'].valid || (articleForm.controls['description'].untouched && !submitted)">
                          Please enter a description
                  </small>
                  <div class="Login_frmicon">
                    <i class="fas fa-lock"></i>
                  </div>
                </div>
              </div>
              <p>{{articleError}}</p>
              <button type="submit" class="btn btn-success btn-s">
                    Save
              </button>
              
            </form>
          </div>
         
        </div>
      </div>
    </div>
  </div>
