<h1>Article Test</h1>

<button (click)="openAddArticleModal()">Add Article</button>


<table>
    
    <tr *ngFor="let post of articles; let i = index">
        <td>
            <img src="{{post.image}}">
        </td>
        <td>
            <span>{{post.title}}</span>
        </td>
        <td>
            <span>{{post.img | date}}</span>
        </td>
        <td>
            <span (click)="openEditArticleModal()">edit</span>
        </td>
    </tr>
</table>